.last_meeting
  .image
    = image_tag 'http://i.imagehost.org/0853/Sem_t_tulo.jpg', :alt => 'Slide preview'

  - if @last_meeting.present?
    %h2 Último encontro

    %p
      = @last_meeting.description

    %h3 Conteúdo

    %p
      = link_to "VIDEO", @last_meeting.video, :popup => true
      = link_to "CÓDIGO", @last_meeting.code, :popup => true
      = link_to "SLIDES", @last_meeting.slides, :popup => true
      
.box
  %h2 Apresentações anteriores

  %ul
    - @meetings.each do |meeting|
      %li
        .image
          = image_tag 'http://i.imagehost.org/0179/Sem_t_tulo_2.jpg', :alt => 'Slide preview'

        %h3
          = meeting 
          - if can?(:update, meeting)
            = link_to '(editar)', edit_meeting_path(meeting)
            
        %p
          = truncate(meeting.description, 200)

        %p
          = link_to "VEJA MAIS", meeting