- if @next_meetings.any?
  - @next_meetings.each do |meeting|
    .next_meeting
      .column
        .image
          = image_tag meeting.slide_preview.url(:medium)
    
      .column
        %h2
          Próximo encontro
          = link_to '(editar)', edit_meeting_path(meeting) if can? :update, meeting

        %p.info
          data: <strong>#{l meeting.start_on}</strong> por <strong>#{meeting.user.name}</strong>

        %div
          = simple_format meeting.description

        %h3
          Conteúdo

        %p
          = meeting_attachments meeting

.box.last_mettings
  %h2 Apresentações anteriores

  - if @last_meetings.any?
    %ul
      - @last_meetings.each do |meeting|
        %li
          .image
            = image_tag meeting.slide_preview.url(:thumb)

          %h3
            = meeting
            = link_to '(editar)', edit_meeting_path(meeting) if can? :update, meeting

          %p.info
            exibido em <strong>#{l meeting.start_on}</strong> por <strong>#{meeting.user.name}</strong>

          %div
            = simple_format truncate(meeting.description, :length => 200)

          %p
            = link_to "VEJA MAIS", meeting
