.last_meeting
  .image
    = image_tag 'http://i.imagehost.org/0853/Sem_t_tulo.jpg', :alt => 'Slide preview'

  %h2 Último encontro

  %p
    = @last_meeting.description if @last_meeting.present?

  %h3 Conteúdo

  %p
    = content_links @last_meeting if @last_meeting.present?
    
.box
  %h2 Apresentações anteriores

  %ul
    - @meetings.each do |meeting|
      %li
        .image
          = image_tag 'http://i.imagehost.org/0179/Sem_t_tulo_2.jpg', :alt => 'Slide preview'

        %h3
          = meeting

        %p
          = meeting.description

        %p
          = content_links meeting

