- if @next_meeting.present?
  .next_meeting
    .column
      .image
        = image_tag @next_meeting.slide_preview.url(:medium)
    
    .column
      %h2
        Próximo encontro
        - if can?(:update, @next_meeting)
          = link_to '(editar)', edit_meeting_path(@next_meeting)

      %p.info
        data: <strong>#{l(@next_meeting.start_on)}</strong> por <strong>#{@next_meeting.user.name}</strong>

      %p
        = simple_format(@next_meeting.description).html_safe!

      %h3 Conteúdo

      %p
        = meeting_attachments(@next_meeting)

.box.last_mettings
  %h2 Apresentações anteriores

  - if @last_meetings.present?
    %ul
      - @last_meetings.each do |meeting|
        %li
          .image
            = image_tag meeting.slide_preview.url(:thumb)

          %h3
            = meeting
            - if can?(:update, meeting)
              = link_to '(editar)', edit_meeting_path(meeting)

          %p.info
            exibido em <strong>#{l(meeting.start_on)}</strong> por <strong>#{meeting.user.name}</strong>

          %p
            = truncate(meeting.description, 200)

          %p
            = link_to "VEJA MAIS", meeting
