.meeting
  .column
    .image
      = image_tag @meeting.slide_preview.url(:medium)

  .column
    - if @meeting
      %h2 
        Encontro
        = link_to '(editar)', edit_meeting_path(@meeting) if can? :update, @meeting

      %p.info
        data: <strong>#{l @meeting.start_on}</strong> por <strong>#{@meeting.user.name}</strong>

      %div
        = simple_format @meeting.description

      %h3 Conteúdo

      %p
        = meeting_attachments @meeting
