.meeting
  .image
    = image_tag @meeting.slide_preview.url(:medium)

  - if @meeting.present?
    %h2 
      Próximo encontro
      - if can?(:update, @meeting)
        = link_to '(editar)', edit_meeting_path(@meeting)

    %p.info
      data: <strong>#{l(@meeting.start_on)}</strong> por <strong>#{@meeting.user.name}</strong>

    %p
      = @meeting.description

    %h3 Conteúdo

    %p
      = link_to "VIDEO", @meeting.video, :popup => true
      = link_to "CÓDIGO", @meeting.code, :popup => true
      = link_to "SLIDES", @meeting.slides, :popup => true