.meeting
  .column
    .image
      = image_tag @meeting.slide_preview.url(:medium)

  .column
    - if @meeting.present?
      %h2 
        Encontro
        - if can?(:update, @meeting)
          = link_to '(editar)', edit_meeting_path(@meeting)

      %p.info
        data: <strong>#{l(@meeting.start_on)}</strong> por <strong>#{@meeting.user.name}</strong>

      %p
        = simple_format(@meeting.description).html_safe!

      %h3 Conteúdo

      %p
        = meeting_attachments(@meeting)