- semantic_form_for @user do |f|
  - f.inputs do
    .box
      %h2 Login    
      = f.input :email
      = f.input :password
      = f.input :password_confirmation

      %h2 Informações pessoais
      = f.input :name
      = f.input :city
      = f.input :github, :label => "Seu nome no <strong>github</strong>"
      = f.input :twitter
      = f.input :site
      = f.input :using_ruby_since
      = f.input :about, :input_html => { :size => '40x5' }
      = f.input :public_email, :label=>"exibir <strong>email publicamente</strong>"
      - if current_user.admin? && @user != current_user
        = f.input :admin

      - f.buttons do
        = f.commit_button 'Atualizar'

:javascript
  document.getElementById('user_name').focus();