.yui-g
  .yui-u.first
    .box
      %h2
        Encontros

      / %p
      /   No sábado (28/08/2010) teremos uma palestra do Antônio Roberto (Ton) na UNA
      /   sobre <strong>Cramp e Websockets</strong>.
      / 
      / %p
      /   Chegada no local a partir das 9:30 e palestra começando as 10:00.
      /   Endereço é UNA Campus Barro Preto Rua Goitacazes, 1159, bairro Barro Preto – BH - MG.
      / 
      / %p
      /   A palestra terá duração aproximada de 50 minutos seguido de um <strong>DOJO</strong> em Ruby para resolução
      /   de alguns problemas simples e primeiro contato com a linguagem e também <strong>TDD</strong>.
      / 
      / %p
      /   %strong
      /     Para participar é gratuito mas deve se inscrever neste neste link:
      /     #{link_to "bit.ly/railsmg-cramp", "http://bit.ly/railsmg-cramp"}

      / %p
      /   Nos encontramos mensalmente no segundo andar do restaurante Takê (#{link_to_take}).
      
      %p
        Todos os encontros são abertos ao público e não é necessário inscrição, basta aparecer.
      
      %p
        - if @next_meeting
          %strong
            Próximo encontro: #{l @next_meeting.start_on} as 19:30

        - else
          Ainda não agendamos a data para o próximo encontro, então fique "de olho" aqui no site
          ou em nosso twitter para não perder.

      %h2
        Google Group

      %p
        Os membros do nosso grupo também participam de uma lista de discussão
        com tópicos relacionados a Ruby.

      %p
        Se você possui dúvidas relacionadas a Ruby (ou Ruby on Rails), este
        grupo provalvemente poderá ajudar.

      %p
        = link_to 'Registre-se', 'http://groups.google.com/group/rails-mg'
        e comece a participar.

      %h2
        Procurando um desenvolvedor?

      %p
        Procurando um freelancer, desenvolvedor ou uma empresa especializada em
        tópicos relacionados a Ruby? Envie um prospecto resumido de suas
        necessidades na #{link_to 'lista de discussão', 'http://groups.google.com/group/rails-mg'}.

      %h2
        Twitter

      %p
        Você pode seguir o #{link_to '@railsmg', 'http://twitter.com/railsmg'} no
        Twitter para ser lembrado dos encontros e outras atualizações.

  .yui-u.sidebar
    - if @next_meeting
      %h2
        Próxima apresentação #{l @next_meeting.start_on}

      #slide
        = image_tag @next_meeting.slide_preview.url(:medium)

      %p
        %strong
          = @next_meeting.name
        
        por
        
        %strong
          = @next_meeting.user.name

    - else
      %h2
        Nenhuma apresentação agendada

      #slide

      %p
        Ainda não existe uma data marcada para uma próxima apresentação
