.yui-g
  .yui-u.first
    .box
      %h2 Encontros

      %p
        Nos encontramos na primeira terça-feira de cada mês no segundo andar do
        restaurante Takê (#{link_to_take}).

      %p
        <strong>Próximo encontro:</strong> Terça-feira 22/01/09 as <strong>19:00</strong>

      %h2 Google Group

      %p
        Os membros do nosso grupo também participam de uma lista de discussão com tópicos relacionados a Ruby. 
      
      %p
        Se você possui dúvidas relacionadas a Ruby (ou Ruby on Rails), este grupo provalvemente poderá ajudar.

      %p
        #{link_to "Registre-se", "http://groups.google.com/group/rails-mg"}  e comece a participar.

      %h2 Procurando um desenvolvedor?

      %p
        Procurando um freelancer, desenvolvedor ou uma empresa especializada em tópicos relacionados a Ruby? 
        Envie um prospecto resumido de suas necessidades na #{link_to "lista de discussão", "http://groups.google.com/group/rails-mg"}.

      %h2 Twitter

      %p
        Você pode seguir #{link_to '@railsmg', 'http://twitter.com/railsmg'} no Twitter para ser lembrado 
        dos encontros e outras atualizações.

  .yui-u.sidebar
    %h2 Última apresentação

    #slide-container
      #slide
        #{image_tag 'http://i.imagehost.org/0853/Sem_t_tulo.jpg'}

    %p
      <strong>Encontro 2:</strong> Formtastic + HAML + SASS + InheritedResources
      por <strong>Gabriel Sobrinho</strong>

