.box
  %h2
    Projetos

  %p
    Esta é a lista de #{Project.count} projetos opensource que os membros do nosso grupo participam:

  %ul.users
    - @users.each do |user|
      %li{ :id => dom_id(user) }
        %span.gravatar
          = link_to gravatar_image_tag(user.email), user_path(user)
        %h3.name
          = link_to h(user), user_path(user)
        %span.github
          = t 'user.projects', :count => user.projects.count

        %ul.projects
          - user.projects.each do |project|
            %li
              %h4
                = link_to h(project), project.github_url

              %p
                = project.description

