!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title RailsMG

    != include_stylesheets :common, :application
    != include_javascripts :common

    /[if IE 6]
      != include_stylesheets :ie6

  %body
    .yui-d-custom
      %nav#login
        - if signed_in?
          Olá, #{link_to h(current_user), current_user} | #{link_to 'Sair', logout_path}

        - else
          #{link_to 'login', login_path} ou #{link_to 'cadastro', register_path}

      %header#hd
        %h1 
          = link_to 'rails<span>mg</span>', root_path

        %nav#nav
          - tabs :class=>"menu" do |tab|
            = tab.home 'Home', root_path
            = tab.users 'Membros', users_path
            = tab.projects 'Projetos', projects_path
            = tab.meetings 'Encontros', meetings_path

      #content{ :class => "#{controller.controller_name} #{controller.action_name}" }
        = yield

      %footer#ft
        %h2 apoio

        %ul
          %li.first
            = link_to image_tag('sponsors/basecamp.jpg', :alt => 'Basecamp'), 'http://basecamphq.com/', :popup => true
          %li
            = link_to image_tag('sponsors/egenial.jpg', :alt => 'eGenial'), 'http://egenial.com.br/', :popup => true
          %li
            = link_to image_tag('sponsors/github.jpg', :alt => 'Github'), 'http://github.com/', :popup => true

          %li
            = link_to image_tag('sponsors/webbynode.jpg', :alt => 'Webbynode'), 'http://webbynode.com/', :popup => true

          %li
            != mail_to 'contato@railsmg.org', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript