!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title
      RailsMG

    = include_stylesheets :yui, :application
    = include_javascripts :application

    /[if IE 6]
      = include_stylesheets :ie6

  %body
    .yui-d-custom
      %nav#login
        - if signed_in?
          Olá, #{link_to current_user, current_user} | #{link_to 'Sair', logout_path}

        - else
          #{link_to 'login', login_path} ou #{link_to 'cadastro', register_path}

      %header#hd
        %h1
          = link_to 'rails<span>mg</span>'.html_safe, root_path

        %nav#nav
          - menu :class => "menu" do |m|
            = m.home 'Home', root_path
            = m.users 'Membros', users_path
            = m.projects 'Projetos', projects_path
            = m.meetings 'Encontros', meetings_path

      #content{ :class => "#{controller.controller_name} #{controller.action_name}" }
        = yield

      %footer
        #ft
          %h2 apoio

          %ul
            %li
              = link_to_sponsor 'Basecamp', 'http://basecamphq.com/'
            
            %li
              = link_to_sponsor 'eGenial', 'http://egenial.com.br/'

            %li
              = link_to_sponsor 'GitHub', 'http://github.com/'

            %li
              = link_to_sponsor 'Webbynode', 'http://webbynode.com/'

            %li
              = link_to_sponsor 'PeepCode', 'http://peepcode.com/'

            %li
              = link_to_sponsor 'OReilly', 'http://oreilly.com/'

            %li
              = link_to_advertise

            %li
              = link_to_advertise

            %li
              = link_to_advertise

            %li
              = link_to_advertise

        %p#credit
          <strong>Website por:</strong> #{link_to "Gabriel Sobrinho", "http://twitter.com/sobrinho"}
          (desenvolvimento), #{link_to "Daniel Lopes", "http://areacriacoes.com.br/"} (design e desenvolvimento).

    = google_analytics
