!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title RailsMG

    != include_stylesheets :common, :application
    != include_javascripts :common

    /[if IE 6]
      != include_stylesheets :ie6

  %body
    .yui-d-custom
      %nav#login
        #{link_to_function 'login'} ou #{link_to_function 'cadastro'}

      %header#hd
        %h1 rails<span>mg</span>

        %nav#nav
          %ul
            %li
              = link_to_unless_current('Home', root_path) { link_to 'Home', root_path, :class => 'active' }
            %li
              = link_to_unless_current('Membros', members_path) { link_to 'Membros', members_path, :class => 'active' }
            %li
              = link_to_unless_current('Projetos', projects_path) { link_to 'Projetos', projects_path, :class => 'active' }
            %li
              = link_to_unless_current('Encontros', meetings_path) { link_to 'Encontros', meetings_path, :class => 'active' }

      #content{ :class => controller.controller_name }
        = yield

      %footer#ft
        %h2 apoio

        %ul
          %li.first
            = link_to image_tag('sponsors/basecamp.jpg', :alt => 'Basecamp'), 'http://basecamphq.com/', :popup => true

          - 4.times do
            %li
              != mail_to 'contato@railsmg.org', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

